:root {
    --back-grad: linear-gradient(
        to left bottom,
        #312550,
        #452b77,
        #5f2d9f,
        #7e28c6,
        #a312eb
    );
    --vazir: vazirmatn;
    --primary-color: #312550;
    --accent-color: #ff5945;
    --accent-hover: #ff4331;
    --text-color: #6f6e77;
    --border-radius: 30px;
    --transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    --border-color: rgb(94 57 170 / 69%);
}
* {
    font-family: 'poppins', var(--vazir);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition);
}
html {
    background: var(--back-grad);
    background-repeat: no-repeat;
    height: 100%;
}
body {
    color: white;
}
.container {
    width: 100%;
    height: 100vh;
    padding: 1em;
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#trans-btn {
    position: relative;
    right: -15px;
    font-size: 43px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
}

#trans-btn:hover {
    transform: scale(1.1);
}

.to-do {
    width: 100%;
    max-width: 549px;
    background-color: #312550c4;
    filter: drop-shadow(0px 0px 15px black);
    backdrop-filter: blur(20px);
    border: var(--border-color) solid 3px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 29px;
    align-items: baseline;
    transition: var(--transition);
}
.to-do h1 {
    color: azure;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.to-do:hover {
    transform: translateY(-5px);
    box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 50%);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #955ab348;
    padding-right: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
}

input {
    flex: 1;
    outline: none;
    border: none;
    background: transparent;
    padding: 10px;
    font-weight: 600;
    color: var(--text-color);
}
button {
    outline: none;
    border: none;
    padding: 16px 50px;
    border-radius: var(--border-radius);
    background: var(--accent-color);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: var(--transition);
}

button:hover {
    background-color: var(--accent-hover);
    transform: scale(1.05);
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 12px 8px 50px;
    user-select: none;
    position: relative;
    cursor: pointer;
    margin-right: 16px;
}
ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('Assets/icons/unchecked.png');
    background-size: cover;
    background-position: center;
    top: 12px;
    right: -25px;
}
ul li.checked {
    text-decoration: line-through;
    color: #444;
}
ul li.checked::before {
    background-image: url('Assets\icons\checked.png');
}
ul li span {
    position: absolute;
    top: 3px;
    left: 0;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #444;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover {
    background-color: #edeef0;
}

@media screen and (max-width: 768px) {
    .to-do {
        margin: 50px auto 20px;
        padding: 20px 15px 35px;
    }

    button {
        padding: 12px 30px;
    }

    #trans-btn {
        font-size: 32px;
    }
}

@media screen and (max-width: 480px) {
    .row {
        flex-direction: column;
        gap: 10px;
        padding: 0;
    }
    #input-box::placeholder {
        text-align: center;
    }
    input {
        width: 100%;
    }
    button:hover {
        width: 100%;
    }
    button {
        width: 50%;
    }
}

button,
.to-do {
    transition: background-color 0.3s, transform 0.3s;
}
